<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-file-picker-plugin"
        version="1.0.0">

    <name>FilePicker</name>
    <description>A Cordova plugin for picking multiple files</description>
    <license>MIT</license>
    <keywords>cordova, file picker, plugin, android, ios</keywords>
    
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/FilePicker.java" target-dir="src/com/example/filepicker"/>
    </platform>

    <platform name="ios">
        <source-file src="src/ios/FilePicker.m" />
    </platform>
    
    <js-module src="www/filepicker.js" name="FilePicker">
        <clobbers target="cordova.plugins.FilePicker" />
    </js-module>
</plugin>
